<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
	<!-- APPENDERS LIST -->
	<!-- show log entries on console -->
	<appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n" />
		</layout>
	</appender>

	<!-- log all logs to a separate log file every day -->
	<appender name="JerseyRestProtoLogFileAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="spring-mvc-basic.log" />
		<param name="datePattern" value="'.'yyyy-MM-dd" />
		<param name="append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %C{6} (%F:%L) - %m%n" />
		</layout>
	</appender>

	<!-- LOGGER LIST -->
	<!-- log all classes in org.developers package -->
	<logger name="com.akkineni">
		<!-- level info logs -->
		<level value="DEBUG" />
		<appender-ref ref="consoleAppender" />
	</logger>

	<logger name="org.springframework">
		<level value="DEBUG" />
		<appender-ref ref="consoleAppender" />
	</logger>

	<logger name="com.sun.jersey">
		<level value="DEBUG" />
		<appender-ref ref="consoleAppender" />
	</logger>

	<logger name="org.atmosphere">
		<level value="DEBUG" />
		<appender-ref ref="consoleAppender" />
	</logger>

	<logger name="org.cometd">
		<level value="DEBUG" />
		<appender-ref ref="consoleAppender" />
	</logger>

	<logger name="org.eclipse.jetty">
		<level value="DEBUG" />
		<appender-ref ref="consoleAppender" />
	</logger>

	<root>
		<priority value="DEBUG"></priority>
		<!-- log all log entries on console -->
		<appender-ref ref="consoleAppender" />
	</root>
</log4j:configuration>